h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Serif', Georgia, Times, serif;
}

p, .table, .btn {
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

body {
  background: url(/img/satinweave.png) repeat 0 0;
  overflow: auto;
}

html {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #555555;
}

html, body{
  height: 100%;
}

.footer {
  position: relative;
  margin-top: -10px;
  height: 10px;
  clear: both;
  padding-top:20px;
}
